h1 {
  color: green;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  display: block;
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.update {
  display: block;
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.none {
  display: none;
}